<div class="sm:ml-52 py-16 px-2 ">
  <h1 class="text-2xl font-bold mb-4 text-center">Nuevo Retorno</h1>
<div id="wrapper" class="flex justify-center">
  <div class="font-roboto w-full lg:w-3/4 2xl:w-2/3 mx-1 mt-1 p-5 bg-white space-y-1 border border-gray-400 rounded-md dark:border-white dark:bg-gray-900/50">
    <form>
      <div class="flex sm:flex-row flex-col space-x-2">
        <div class="sm:w-1/2 w-full space-y-2">
          <div class="grid gap-1">
            <app-autocomplete
              (onSelect)="onSelectOP($event)"
            ></app-autocomplete>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

