
<div class="sm:ml-64      py-5 px-2  ">
   <div class="p-4  rounded-lg  h-full  dark:border-gray-700 mt-14 transition-colors duration-30 ">
     <h1>Listado de cargas</h1>
     <div class="w-full mb-4">
      <ejs-grid #grid [dataSource]='dataService.CargasGasolina()' [filterSettings]="filterSettings " (dataBound)='dataBound()'
         [allowExcelExport]='true' AutoFitAll="true" [height]="heightGrid" allowReordering='true'
         [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true"
         [pageSettings]='pageSettings'>
         <e-columns>
            <e-column field='id_cargaGasolina' headerText='ID' width='100' ></e-column>
            <e-column field='descripcion_transporte' headerText="transporte" ></e-column>
            <e-column field='totalLitros' headerText="total de litros" ></e-column>
            <e-column field='importeCarga' headerText="Importe Carga" ></e-column>
            <e-column field='observaciones' headerText="Observaciones" ></e-column>
            <e-column field='kilometraje_inicial' headerText="Kilometraje inicial" ></e-column>
            <e-column field='kilometraje_final' headerText="Kilometraje final" ></e-column>
         </e-columns>
      </ejs-grid>      
</div>
   </div>  
</div>

<app-fabbutton></app-fabbutton>