
<div class="sm:ml-52      py-8 px-2  ">
   <div class="p-2  rounded-lg  h-full  dark:border-gray-700 mt-6 transition-colors duration-30 ">
     <h1 class="text-2xl p-2 bg-transparent dark:bg-gray-500 rounded-tr-md rounded-tl-md text-gray-600 dark:text-white">Cargas de gasolina</h1>
     <div class="w-full mb-4">
      <ejs-grid #grid [dataSource]='cargasGasolina()' [filterSettings]="filterSettings " (dataBound)='dataBound()'
         [allowExcelExport]='true' AutoFitAll="false" [height]="heightGrid" allowReordering='true'
         [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true"
         [pageSettings]='pageSettings'>
         <e-columns>
            <e-column field='id_carga_gasolina' headerText='ID' width='70' ></e-column>
            <e-column field='descripcion_transporte' headerText="transporte" ></e-column>
            <e-column field='total_litros' headerText="total de litros" width='150' ></e-column>
            <e-column field='importe_carga'  headerText="Importe Carga" width='150'>
               <ng-template #template let-data>
                  {{data.importe_carga | currency}}
               </ng-template>
            </e-column>
           
            <e-column field='kilometraje_inicial' width='160'  headerText="Kilometraje inicial" ></e-column>
            <e-column field='kilometraje_final'  width='160'  headerText="Kilometraje final" ></e-column>
            <e-column field='fecha_carga' headerText="fecha_carga" >
               <ng-template #template let-data>
                  {{data.fecha_carga | date: 'dd-MM-yyyy'}}
               </ng-template>
            </e-column>
            <e-column field='observaciones' headerText="Observaciones" ></e-column>
         </e-columns>
      </ejs-grid>      
</div>
   </div>  
</div>

<app-fabbutton></app-fabbutton>