
    <div class="relative sm:ml-64    dark:text-white">
        <div class="rounded-lg  h-full  dark:border-gray-700 mt-14 transition-colors duration-30 ">
            <div class="w-full bg-white dark:bg-gray-500 h-14 flex items-center justify-between pt-2  px-4">
                <svg  (click)="regresar()"  class="h-7 w-7 hover:fill-blue-600 dark:hover:fill-gray-600 fill-gray-600 dark:fill-white"  viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="current"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="current" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path><path fill="current" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path></g></svg>                
                <button (click)="guardarRegistro()"
                    class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Guardar
                </button>            
            </div>
            <div class="py-2 border-b  border-gray-200 dark:border-gray-700 dark:bg-slate-700  ">
                <ul class="flex justify-center  flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
                    data-tabs-toggle="#default-styled-tab-content"
                    data-tabs-active-classes="text-blue-600 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-500 border-blue-600 dark:border-blue-500"
                    data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-white border-none hover:border-gray-300 dark:border-none dark:hover:text-gray-300"
                    role="tablist">
                    <li class="me-2 " role="presentation">
                        <button class="inline-block p-2 border-b-2 rounded-t-lg" id="profile-styled-tab"
                            data-tabs-target="#registro-interno" type="button" role="tab" aria-controls="profile"
                            (click)="registroInterno.set(true)"    
                            aria-selected="false">INTERNO</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button
                        (click)="registroInterno.set(false)"
                            class="inline-block p-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="dashboard-styled-tab" data-tabs-target="#registro-externo" type="button" role="tab"
                            aria-controls="dashboard" aria-selected="false">EXTERNO</button>
                    </li>
                </ul>
            </div>
            <div id="default-styled-tab-content" >
                <div class="hidden  " id="registro-interno" role="tabpanel" aria-labelledby="profile-tab">
                    <app-registro-interno  [formGroup]="formRegistro" ></app-registro-interno> 
                </div>
                <div class="hidden" id="registro-externo" role="tabpanel"
                    aria-labelledby="dashboard-tab">                    
                    <app-registro-externo [formGroup]="formRegistro" ></app-registro-externo>
                </div>                    
            </div>            
        </div>
    </div>




