<div class="sm:ml-64      py-5 px-2  ">
   <div class="p-4  rounded-lg  h-full  dark:border-gray-700 mt-14 transition-colors duration-30 ">
      <h1>Listado de recorridos</h1>
      <div class="w-full mb-4">
         <ejs-grid #grid [dataSource]='recorridos()' [filterSettings]="filterSettings " (dataBound)='dataBound()'
            [allowExcelExport]='true' AutoFitAll="true" [height]="heightGrid" allowReordering='true'
            [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true"
            [pageSettings]='pageSettings'>
         </ejs-grid>
         
   </div>

</div>
<app-fabbutton></app-fabbutton>