<div class="sm:ml-52      py-8 px-2  ">
   <div class="p-2   rounded-lg  h-full  dark:border-gray-700 mt-8 transition-colors duration-30 ">
      <h1
         class="text-2xl p-2 bg-transparent dark:bg-gray-500 rounded-tr-md rounded-tl-md text-gray-600 dark:text-white">
         Recorridos</h1>
      <div class="w-full mb-4">       
         <ejs-grid #grid [dataSource]='Recorridos()' [filterSettings]="filterSettings " (dataBound)='dataBound()'
            [allowExcelExport]='true' AutoFitAll="true" [height]="heightGrid" allowReordering='true'
            [allowFiltering]=true allowPaging="true " allowResizing="true" allowSorting="true"
            [pageSettings]='pageSettings'>
            <e-columns>

               <e-column field='id_recorrido' [allowFiltering]="false" headerText='' width='50'>
                  <ng-template #template let-data>
                     @if(data.tipo=='externo'){

                        <svg class="h-4 w-4 cursor-pointer stroke-slate-950 dark:stroke-white " (click)="showEditDialog(data)"  viewBox="0 0 24 24" fill="none" 
                        xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                           <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="current" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="current" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>                     
                     }
                  </ng-template>
               </e-column>
               <e-column field='factura' headerText="Factura" />
               <e-column field='importe_factura' headerText="Importe" width='150'>
                  <ng-template #template let-data>
                     {{data.importe_factura | currency}}
                  </ng-template>
                  <ng-template #editTemplate let-data>
                     <input class="e-input" type="text">
                  </ng-template>
               </e-column>
               <e-column field='tipo'>
                  <ng-template #template let-data>
                     {{data.tipo | uppercase}}
                  </ng-template>
               </e-column>
               <e-column field='descripcion_tipo_servicio' headerText="Servicio"></e-column>
               <e-column field='nombre_chofer' headerText='chofer' width='150'></e-column>
               <e-column field='descripcion_transporte' headerText='transporte' width='150'></e-column>
               <e-column field='opsAsignadas' headerText="Op"></e-column>
               <e-column field='remisionesAsignadas' headerText="Remisión"></e-column>
               <e-column field='kilometraje_inicial' headerText="Inicial" width='150'>
                  <ng-template #template let-data>
                     {{data.kilometraje_inicial ??'N/A'}}
                  </ng-template>
               </e-column>
               <e-column field='kilometraje_final' headerText="Final" width='150'>
                  <ng-template #template let-data>
                     {{data.kilometraje_final ??'N/A'}}
                  </ng-template>
               </e-column>
               <e-column field='fecha_salida' headerText="Salida" width='150'>
                  <ng-template #template let-data>
                     @if(data.tipo=='interno'){
                     {{data.fecha_salida ? (data.fecha_salida | date: 'dd-MM-yyyy hh:mm a'):'N/A' }}
                     }@else{
                     {{data.fecha_salida ? (data.fecha_salida | date: 'dd-MM-yyyy'):'N/A' }}
                     }
                  </ng-template>
               </e-column>
               <e-column field='fecha_regreso' headerText="Regreso" allowEditing="false" width='150'>
                  <ng-template #template let-data>
                     {{data.fecha_regreso ? (data.fecha_regreso | date: 'dd-MM-yyyy hh:mm a'):'N/A' }}
                  </ng-template>
               </e-column>

               <e-column field='destino' />
               <e-column field='observaciones' />

            </e-columns>
         </ejs-grid>


      </div>

   </div>
   <app-fabbutton></app-fabbutton>


   <p-dialog header="Editar información" [visible]="visible()" [style]="{ width: '25rem' }" (onHide)="hideEditDialog()"
      (visibleChange)="visibleChange($event)">
      @if(recorridoActivo){
      <div class="flex flex-col gap-3 mt-2 ">
         <div class="flex space-x-4 items-center">
            <label for="factura">Factura</label>
            <input id="factura" maxlength="20" [(ngModel)]="recorridoActivo.factura"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Factura" autocomplete="off" />
         </div>
         <div class="flex space-x-4 items-center ">
            <label for="importe" autocomplete="off">Importe</label>
            <input id="importe" [(ngModel)]="recorridoActivo.importe_factura" maxlength="20"
            (input)="onInput($event,'')"
            (keypress)="onValidateNumber($event)" 

               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Importe" autocomplete="off" />
         </div>
      </div>
      }
      <div class="flex  justify-end  ">
         <button label="Save"
            class="mt-6 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            (click)="save()">Guardar</button>
      </div>
   </p-dialog>